.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.main {
  width: 1280px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  overflow-x: none;
}

.hidden {
  width: 400px;
  height: 400px;
  overflow: hidden;
}
