.list-wrap  {
    width: 568px;
    height: 656px;
    margin-top: 100px;
    overflow-y: scroll;
}

.order {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    padding-top: 40px;
    gap: 40px;
}

.constructor-wrap {
    margin-left: 20px;
}