.header {
    background: #1C1C21;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 88px;

}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-text {
    padding-left: 8px;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1280px;
    left: calc(50% - 1280px/2); 
    top: calc(50% - 56px/2);
}