li {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.list-item {
    display: flex;
    flex-wrap: wrap;
}

.items {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 272px;
    height: 208px;
}